<html>
<head>
    <title>Chat WebSocket</title>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility
                = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS("http://localhost:8080/ws");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected(), onError());
        }

        const onConnected=()=>{
            var senderId = document.getElementById("sender_ID").value;
            console.log(senderId);
            setConnected(true);
            stompClient.subscribe(
                "/user/"+senderId+"/queue/messages"
            );
        };

        const onError = (err) => {
            console.log(err);
        };

        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var senderId = document.getElementById("sender_ID").value;
            var receiverId = document.getElementById("receiver_ID").value;
            var itemId = document.getElementById("item_ID").value;
            var text = document.getElementById('text').value;
            stompClient.send("/chat/send", {},
                JSON.stringify({'senderId':senderId, 'receiverId':receiverId, 'content':text, 'itemId':itemId}));
        }

        function showMessageOutput(messageOutput) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput.from + ": "
                + messageOutput.text + " (" + messageOutput.time + ")"));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="disconnect()">
<div>
    <div>
        <input type="text" id="sender_ID" placeholder="senderId"/>
        <input type="text" id="receiver_ID" placeholder="receiverId"/>
        <input type="text" id="item_ID" placeholder="itemId"/>
    </div>
    <br />
    <div>
        <button id="connect" value="senderId" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Disconnect
        </button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>